{% from 'bootstrap/nav.html' import render_nav_item %}

<!DOCTYPE html>

<head>
    {% if title %}
    <title>{{ title }} - Wheels</title>
    {% else %}
    <title>Welcome to Wheels</title>
    {% endif %}

    {{ moment.include_moment(local_js=url_for('static', filename="js/moment-with-locales.min.js")) }}

    {{ bootstrap.load_css() }}
</head>

<body>
<main class="container">

    <div>
        Wheels:
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {{ render_nav_item('main.index', 'Home') }}
                    {% if current_user.is_anonymous %}
                    {{ render_nav_item('auth.login', 'Login') }}
                    {% else %}
                    {{ render_nav_item('main.explore', 'Explore') }}
                    {{ render_nav_item('main.user', 'Profile', username=current_user.username) }}
                    {{ render_nav_item('auth.logout', 'Logout') }}
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
    <hr> 
    {% with messages = get_flashed_messages() %} 
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    
    {% block app_content %}
    
    {% endblock %}

</main>
{{ bootstrap.load_js() }}
</body>

</html>
